[user]
	name = Dorian Johnson
	email = 2012@dorianj.net

[alias]
	st = status
	ci = commit
	cia = commit -a
	ciappend = commit --amend
	co = checkout
	dt = difftool
	dk = difftool -y -t Kaleidoscope
	dv = difftool -t vimdiff
	unp = log --branches --not --remotes
	fu = fetch upstream
	up = !git remote update -p; git merge --ff-only @{u}
	bi = bisect

[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

